# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
12) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [1]:
num = 3542

print(num)
print(type(num))

3542
<class 'int'>

##### Assinging float

In [2]:
num_float = 3.14

print(num_float)
print(type(num_float))

3.14
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [3]:
num1 = 2.1
num2 = 5

result = num1 + num2
print(result)
print(type(result))

7.1
<class 'float'>

##### Subtraction

In [5]:
result_diff = num2 - num1

print(result_diff)
print(type(result_diff))

2.9
<class 'float'>

##### Multiplication

In [6]:
result_prod = num1 * num2

print(result_prod)
print(type(result_prod))

10.5
<class 'float'>

##### Division

In [7]:
result_divs = num2 / num1
#division always returns a float
print(result_divs)
print(type(result_divs))

2.380952380952381
<class 'float'>

##### Floor Division

In [9]:
#integer division With a float in the problem it will return a float if they are both ints it will return int
result_floor = num2 // num1
print(result_floor)
print(type(result_floor))

2.0
<class 'float'>

##### Modulo

In [10]:
result_mod = num2 % num1
num3 = 47
num4 = 5
result_mod2 = num3 % num4 
print(result_mod)
print(type(result_mod))
print(result_mod2)
print(type(result_mod2))

0.7999999999999998
<class 'float'>
2
<class 'int'>

##### Exponential

In [11]:
funnynum = num3 ** num4

print(funnynum)
print(type(funnynum))

229345007
<class 'int'>

### String Input-Output

##### String Assignment

In [12]:
name1 = "Dan"
print(name1)
print(type(name1))

Dan
<class 'str'>

In [ ]:
name2 = "Hansbury"
print(name2)
print(type(name2))

In [ ]:
cont1 = "You can't do that"
print(cont1)
print(type(cont1))

In [ ]:
cont2 = 'You can\'t do that' #this throws an error unless you use an escape character

##### Escape Characters

In [ ]:
cont3 = 'You can\'t do that'

In [ ]:
print('Hello \
    my name is ' + name1)

Hello
 my name is Dan

In [15]:
# \n
print('Hello \n my name is ' + name1)

Hello
 my name is Dan

In [14]:
# \t
print('\t Hello my name is ' + name1)

	 Hello my name is Dan

In [16]:
# Raw String
print(r'Hello \n my name is ' + name1)

Hello \n my name is Dan

In [17]:
# \b removes a character
print('Hello my name is\b ' + name1)

Hello my name i Dan

##### String Concatenation

In [20]:
print('Hello my name is' + " " + name1)

Hello my name is Dan

In [21]:
num_a = 10
num_b = "10"

num_c = num_a + num_b
print(num_c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

##### Type Conversion

In [22]:
num_b_as_int = int(num_b)

print(num_b, type(num_b))
print(num_b_as_int, type(num_b_as_int))

num_c = num_a + num_b_as_int
print(num_c)

10 <class 'str'>
10 <class 'int'>
20

In [23]:
num_a_as_int = str(num_a)

print(num_a, type(num_a))
print(num_a_as_int, type(num_a_as_int))

num_c = num_b + num_a_as_int
print(num_c)

10 <class 'int'>
10 <class 'str'>
1010

##### .format() and f-strings

In [24]:
name = "Dan"
home = "Worcester"

print("Hello my name is {} and I am from {}".format(name, home))
print(f"Hello my name is {name} and I am from {home}")

Hello my name is Dan and I am from Worcester

##### Old Way (python 2)

In [ ]:
print("hello my name is %s and I am from %s" % (name, home))

In [ ]:
result = 10 + 5

print("The result is %i" % result)

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [30]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'
#Optimized code 
print(f"I drive a {color} {int(year) + 1} {make} {model}.")

year = int(year)

print(f"I drive a {color} {year+1} {make} {model}.")
print("I drive a {} {} {} {}.".format(color, year+1, make, model))

I drive a blue 2023 Ford Focus.
I drive a blue 2023 Ford Focus.
I drive a blue 2023 Ford Focus.

### Booleans

In [31]:
True == 0
bool_true = True

print(bool_true, type(bool_true))

True <class 'bool'>

In [ ]:
False == 1
bool_false = False

print(bool_false, type(bool_false))

### If Statements

In [38]:
# if <expression>:
#     <statement>

if True:
        print('Hello this is true')

In [ ]:
if False:
    print('Hello this is false')

In [ ]:
print('Start Code')

if False:
    print('Hello')
    print('How are you')
    print('Well, you?')

print('End of Code')

In [33]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 10
num2 = 5
num3 = 2

print(num1 < num2)
print(num1 == num2 * num3)
print(num1 != num3)

False
True
True

In [34]:
if num1 > num2:
    print('num1 us greater than num2')

if num1 == num2 * num3:
    print('num1 is equal to the product of num2 an num3')

num1 us greater than num2
num1 is equal to the product of num2 an num3

## Using 'and'/'or' with If Statements

In [36]:
# Truth Tree:
# T and T = T
# T and F = F
# F and F = F
# T or T = T
# T or F = T
# F or F = F

potential_candidate_gpa = 3.1
potential_candidate_act = 27

if potential_candidate_gpa > 2.5 and potential_candidate_act > 25:
    print('Pass student along')
else:
    print('Reject Student')

Pass student along

### Else Statements

In [41]:
# An else statement runs when the if statement above it evaluates to False
required_height = 60
rider_height = 66

if rider_height >= required_height:
    print('Enjoy the ride')
else:
    print('Sorry, you are not tall enough to ride the ride')

### Elif Statements

In [37]:
# An elif only runs when the if (or elif) directly above it evaluates to False

required_age = 18
with_a_parent = 16

movie_goer_age = 25

if movie_goer_age >= required_age:
    print('Thanks, enjoy the film')
elif movie_goer_age >= with_a_parent:
    print('You must be accompanied by an adult to see this film.')
else:
    print('You are not old enough')

Thanks, enjoy the film

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [43]:

ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
# person_age = 8 # Output: Your ticket is $5.00

person_age = 25

if person_age >= 65:
    print('Your ticket is $7.50')
elif person_age >= 10:
    print('Your ticket is $10')
elif person_age > 0:
    print('Your ticket is $5.00')
else:
    print('Your ticket is free')

    #print(f"Your ticket is $(ticket.2f)") floating point limitation

Your ticket is $10

### Lists

##### Declaring Lists

In [45]:
list_1 = [] #Empty list declaratopm
print(list_1, type(list_1))

nums = [1, 2, 3, 4, 5, 6]
numbers = list(range(1,11))
names = ['Max', 'Catherine', 'Adam', 'Margo', 'James', 'Penelope']

print(nums, numbers)

[] <class 'list'>
[1, 2, 3, 4, 5, 6] [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

##### Indexing a List

In [48]:
# list[start: stop: step] *start is inclusive, stop is exclusive
#  0-based index

names = ['Max', 'Catherine', 'Adam', 'Margo', 'James', 'Penelope']

#single index
print(numbers[0])
#Slice the list at index 1 all the way to the end of the list
print(names[1:])
#Slice from the beginning of the list to a certain index (but not including)
print(names[:3])
#Slice the wole list -> make a copy
print(names[:])
#Slice every other element
print(names[::2])
#Negative numers start from the back
print(names[-2])
#Negative stepp will walk backward through the list
print(names[::-1])
#Some combo of them all
print(names[1:4:2])

1
['Catherine', 'Adam', 'Margo', 'James', 'Penelope']
['Max', 'Catherine', 'Adam']
['Max', 'Adam', 'James']

In [49]:
# Item assignment - List[index] = value
print(names)
names[1] = 'Kathy'
print(names)

['Max', 'Catherine', 'Adam', 'Margo', 'James', 'Penelope']
['Max', 'Kathy', 'Adam', 'Margo', 'James', 'Penelope']

In [ ]:
#String are immutable

##### .append()

In [51]:
# help(list.append) list.append(value to append) - add the value to the END of the list
print(names)

names.append('Frank')

print(names)

['Max', 'Kathy', 'Adam', 'Margo', 'James', 'Penelope']
['Max', 'Kathy', 'Adam', 'Margo', 'James', 'Penelope', 'Frank']

##### .insert()

In [52]:
# list.insert(index,value) - add the value to the list at index and push everyhing else back one

help(list.insert)

print(names)

names.insert(3, 'Henry')

print(names)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

['Max', 'Kathy', 'Adam', 'Margo', 'James', 'Penelope', 'Frank']
['Max', 'Kathy', 'Adam', 'Henry', 'Margo', 'James', 'Penelope', 'Frank']

##### .pop()

In [54]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

help(list.pop)

print(names)
removed_name = names.pop()
print(names)
print(removed_name)

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

['Max', 'Kathy', 'Adam', 'Henry', 'Margo', 'James', 'Penelope', 'Frank']
['Max', 'Kathy', 'Adam', 'Henry', 'Margo', 'James', 'Penelope']
Frank

In [ ]:
another_name = names.pop(2)
print(names)
print(another_name)


##### .remove()

In [61]:
names.append('Max')
print(names)

In [62]:
# value to be removed , not index

help(list.remove)

print(names)
names.remove('Max')
print(names)

Help on method_descriptor:

remove(self, value, /)
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

['Max', 'Kathy', 'Adam', 'Henry', 'Margo', 'James', 'Penelope', 'Max', 'Max', 'Max', 'Max', 'Max', 'Max', 'Max']
['Kathy', 'Adam', 'Henry', 'Margo', 'James', 'Penelope', 'Max', 'Max', 'Max', 'Max', 'Max', 'Max', 'Max']

In [ ]:
# List.count(value) - return the count of value in list

print(names.count('Max'))

In [ ]:
#list.index(value) - return the index of the FIRST item to match value

print(names.index('James'))

##### del()

In [48]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully
# del is just a python keyword

del names[1]

print(names)

### .clear()

In [ ]:
#remove all values from the list

names.clear()

print(names)

##### Concatenating Two Lists

In [63]:
# will append two lists together, not add up the elements in each list

list_a = [1,2,3]
list_b = [4,5,6]

list_c = list_a + list_b

print(list_c)

[1, 2, 3, 4, 5, 6]

##### Lists Within Lists

In [64]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

names = ['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Topenga']]

print(names)
print(names[3])
print(type(names[3]))
print(names[3][0])

names[3].append('Cory')

print(names)

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Topenga']]
['Sally', 'Sue', 'Topenga']
<class 'list'>
Sally
['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Topenga', 'Cory']]

### For Loops

In [65]:
# for <keyword> in <iterable>:
#     <statement>

for x in [5, 10, 15, 20, 25, 30, 35, 40]:
    print(x)

5
10
15
20
25
30
35
40

In [ ]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
for color in colors:
    print(color)

##### Continue Statement

In [67]:
list_to_use = [10, 20, 30, 40, 50, 60, 70, 80, 90]

In [52]:
# will continue to next iteration

In [68]:
for element in list_to_use:
    if element == 50:
        continue
    print(element)

10
20
30
40
60
70
80
90

##### Break Statement

In [53]:
# will break out of current loop

In [69]:
for element in list_to_use:
    if element == 50:
        break
    print(element)

10
20
30
40

##### Pass Statement

In [54]:
# mostly used as a placeholder, and will continue on same iteration
for num in list_to_use:
    #FIXME
    pass
print('Hello World')

In [70]:
for element in list_to_use:
    pass

##### Nested/Double For Loops

In [71]:
my_nums = [1,2,3,4]

for i in my_nums:
    for j in my_nums:
        print(f"i = {i}, j = {j}")

i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4

### While Loops

In [72]:
# while <conditional>:
#     <statement to run while condition is true>

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

### Built-In Functions

##### input()

In [56]:
# input(question) => ALWAYS RETURNS A STRING

answer = input("What is your name?")
print(answer)

In [2]:
while True:
    keep_playing = input("Would you like to play again? y/n")
    if keep_playing == 'n':
        break
    else:
        print("lets start again")

##### range()

In [57]:
#range(stop)
#Start, Stop, Step
list(range(10))

##### len()

In [4]:
# check Length of variable
cities = ['Chicago', 'New York', 'Los Angeles', 'Seattle']

print(len(cities))

4

In [5]:
name = "Lionel Messi"

print(len(name))

12

In [6]:
for index in range(len(cities)):
    print(index, cities[index])

0 Chicago
1 New York
2 Los Angeles
3 Seattle

##### help()

In [59]:
# Use this function to view more info about a python function (With a DOCSTRING)

##### isinstance()

In [7]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

some_num = 45

print(isinstance(some_num, int))
print(isinstance(some_num, float))

True
False

### Try and Except

In [61]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

##### Looping Through Lists

In [62]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [14]:
count = 0
cubes = []
for x in range(0, 1001):
    count = x**3
    if count > 1000:
        break
    cubes.append(count)
else:
    print(cubes)

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [12]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
primes = []

for nums in range(1,101):
    for i in range(2, nums):
        if nums % i == 0:
            break
    else:
        primes.append(nums)
primes.sort()

print(primes)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [5]:
age = input("What's your age?")
if int(age) < 18:
    print('kids')
elif int(age) >= 18 and int(age) <= 65:
    print('adults')
elif int(age) > 65:
    print('seniors')

kids